<div class="container" ng-controller="categoryController">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>Category</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-8">
               <h5>Add New Category</h5>
                <form>
                    <div class="container">
                        <div class="form-group">
                            <label for="name">Category Name:</label>
                            <input type="text" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="desc">Description:</label>
                            <input type="text" id="desc">
                        </div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <br>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <h5>View Category</h5>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Desc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="category in categories">
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.desc }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>