<div class="container" ng-controller="productController">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
        <legend>Product</legend>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <form>
                    <div class="form-group">
                        <label for="name">Product Name:</label>
                        <input type="text"  id="name" ng-model="data.name">
                    </div>
                    <div class="form-group">
                        <label id="subcategory" for="name">Select Subcategory:</label>
                        <select id="subcategory" ng-model="data.subcategory" ng-options="subcategory.name for subcategory in subcategories" required>
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="desc">Description:</label>
                        <input type="text" id="desc" ng-model="data.desc">
                    </div>
                    <button type="submit" >Submit</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h5>View Subcategory</h5>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Subcategory</th>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products">
                            <td>{{ product.id }}</td>
                            <td>{{ product.subcategory }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                        </tr>
                    </tbody>
                </table>   
            </div>
        </div>
    </div>
</div>